<label for="hoehe">Höhe (in m): </label>
<input placeholder="Höhe" id="hoehe" type="number" [(ngModel)]="this.dataService.hoehe"><br>

<label for="links">linker Rand (in m): </label>
<input placeholder="Linker Rand" id="links" type="number" [(ngModel)]="this.dataService.links"><br>

<label for="rechts">rechter Rand (in m): </label>
<input placeholder="Rechter Rand" id="rechts" type="number" [(ngModel)]="this.dataService.rechts"><br>

<label for="unten">unterer Rand (in m): </label>
<input placeholder="Unterer Rand" id="unten" type="number" [(ngModel)]="this.dataService.unten"><br>

<label for="oben">oberer Rand (in m): </label>
<input placeholder="Oberer Rand" id="oben" type="number" [(ngModel)]="this.dataService.oben"><br>

<label for="tiefe">Tiefe (in Kästchen-Äquivalenten): </label>
<input placeholder="Tiefe" id="tiefe" type="number" [(ngModel)]="this.dataService.tiefe"><br>
