<div class="fill">
  <div class="container">
    <h1>CamCarpet</h1>

    <button (click)="this.dataService.save()">Speichern</button>
    <button (click)="this.dataService.reset()">Zurücksetzen</button>
    <button (click)="this.dataService.download()">Daten herunterladen</button>
    <button class="inpButton">
      Aus Datei laden
      <input title="Lade aus einer Datei" id="inp" type="file" (change)="this.dataService.open()" accept=".json">
    </button>

    <app-input></app-input>
    <app-size></app-size>

    <br>
    <button (click)="this.dataService.berechnen()">Berechnen</button>
    <br>

    @if (this.dataService.calc) {
      <app-drawer></app-drawer>
    }

    <br>


  </div>
</div>
