<div class="fill">
  <div class="container">
    <h1>CamCarpet</h1>

    <button (click)="this.dataService.save()">Speichern</button>
    <button (click)="this.dataService.reset()">Zurücksetzen</button>
    <button (click)="this.dataService.download()">Daten herunterladen</button>
    <button class="inpButton">
      Aus Datei laden
      <input title="Lade aus einer Datei" id="inp" type="file" (change)="this.dataService.open()" accept=".json">
    </button>

    <app-input></app-input>
    <app-size></app-size>

    <br>
    <button (click)="this.dataService.berechnen()">Berechnen</button>
    <br>

    @if (this.dataService.calc) {
      <p>Nur die Blöcke:</p>
      <app-drawer [punkte]="'nein'"></app-drawer><br>
      <p>Nur die Punkte:</p>
      <app-drawer [bloecke]="false"></app-drawer><br>
      <p>Nur die vorderen Punkte:</p>
      <app-drawer [bloecke]="false" [punkte]="'vorne'"></app-drawer><br>
      <p>Nur die hinteren Punkte:</p>
      <app-drawer [bloecke]="false" [punkte]="'hinten'"></app-drawer><br>
      <p>Alles zusammen:</p>
      <app-drawer></app-drawer><br>
      <p>Liste der Punkte:</p>
      <app-point-view></app-point-view>
    }

    <br>


  </div>
</div>
